*{
	margin: 0;
	padding: 0;
}
ul li{
	list-style: none;
}
body{
	font-family: '微软雅黑';
	color: #14191e;
}
a{
	text-decoration: none;
}
.main{
	width: 600px;
	height: 400px;
	margin: 30px auto;
	overflow: hidden;
	position: relative;
}
.banner{
	width: 600px;
	height: 400px;
	overflow: hidden;
	position: relative;
}
.banner-slider{
	position: absolute;
	width: 600px;
	height: 400px;
	background-repeat: no-repeat;
	display: none;
}
.slider-active{
	display: block;
}
.slider1{
	background-image: url(../img/15.jpg);
}
.slider2{
	background-image: url(../img/16.jpg);
}
.slider3{
	background-image: url(../img/17.jpg);
}
/*.slider4{
	background-image: url(../img/18.jpg);
}
.slider5{
	background-image: url(../img/19.jpg);
}
.slider6{
	background-image: url(../img/20.jpg);
}*/
.button{
	position: absolute;
	width: 40px;
	height: 80px;
	top: 50%;
	margin-top: -40px;
	color: #fff;
	line-height: 80px;
	text-align: center;
}
.prev{
	left: auto;
	right: 0;
}
.button:hover{
	background-color: #ccc;
	opacity: 0.6;
}
.dost{
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -6px;
}
.dost span{
	width: 12px;
	height: 12px;
	line-height: 12px;
	border-radius: 50%;
	display: inline-block;
	background: rgba(7,17,27,0.4);
	box-shadow: 0 0 0 2px rgba(255,255,255,0.8) inset;
	cursor: pointer;
}
.dost span.active{
	box-shadow: 0 0 0 2px rgba(7,17,27,0.4) inset;
	background: #fff;
}